<form (ngSubmit)="f.form.valid && handleNewRecord()" #f="ngForm">
  <div class="agregar">
    <div class="agregar_contenedor">
      <select
      [ngClass]="{redfocus:operationType === 'expense'}"

      (change)="handleOperationType($event)" class="agregar_tipo">
        <option value="income" selected>+</option>
        <option value="expense">-</option>
      </select>
      <input
      [ngClass]="{redfocus:operationType === 'expense'}"
        type="text"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        name="descriptionInput"
        [(ngModel)]="descriptionInput"
        required
      />
      <input
      [ngClass]="{redfocus:operationType === 'expense'}"
      type="number" class="agregar_valor" placeholder="Valor"
      name="valueInput"
      [(ngModel)]="valueInput"
      required
      />
      <button
      type="submit"
       class="agregar_btn">
        <i
      [ngClass]="{red:operationType === 'expense'}"
      class="ion-ios-checkmark-outline"></i>
      </button>
    </div>
  </div>
</form>
